.elasticbeanstalk/
.elasticbeanstalk/aws_credentials
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

wp-content.php

wp-content/plugins/linstar-helper/.DS_Store
